.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
  margin-right: 30px;
}

.element__like[aria-pressed=true] {
  opacity: 1;
  background-image: url(../../../images/like-active.svg);
}

.element__like:hover {
  opacity: 0.5;
}
