.form__save-button {
  background-color: black;
  color: white;
  border-radius: 2px;
  width: 358px;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  margin: 48px 0px 37px;
  cursor: pointer;
  padding: 0;
  border: 0;
}


.form__save-button:hover {
  opacity: .8;
}

@media screen and (max-width:425px) {
  .form__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0px 25px;
  }
}
