.popup__save-button {
  background-color: black;
  color: white;
  border-radius: 2px;
  width: 358px;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  margin: 18px 36px 37px;
  cursor: pointer;
  padding: 0;
}

.popup__save-button:hover {
  opacity: .7;
}

@media screen and (max-width:425px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 22px 25px;
  }
}
